button,tap{background:gold}
etage {background: ghostwhite;}
attic	{box-shadow: 0 4px 6px rgb(0 0 0 / 25%);}
h3	{color: darkslategray;}
article{border-bottom: 1px solid lavender;/* max-height: 32em; *//* overflow-y: hidden; */}
toggle, icon { color: gray; }

[contenteditable]{background: lavender;}

.tags { color: dodgerblue; }
.member.me {background-color: gold}

.level,
.level0 {background-color: lightgreen;}
.level1 {background-color: lightskyblue;}
.level2 {background-color: lightsalmon;}
.level3 {background-color: black;color: wheat;}
