/*


@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(MaterialIcons-Regular.eot);
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(MaterialIcons-Regular.woff2) format('woff2'),
       url(MaterialIcons-Regular.woff) format('woff'),
       url(MaterialIcons-Regular.ttf) format('truetype');
}
*/

body{height:100%}

icon, .checked::before /*button::before,*/ 
{
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 1.5rem;  /* Preferred icon size */
  padding: .75rem;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;	/* Support for all WebKit browsers. */
  text-rendering: optimizeLegibility;	/* Support for Safari and Chrome. */
  -moz-osx-font-smoothing: grayscale; 	/* Support for Firefox. */
  font-feature-settings: 'liga';		/* Support for IE. */
  color: inherit;
}

.checked::before {content:"check"; position:absolute; right:0; top:0; }

icon::before, button::before, action:empty::before{
	content:attr(class);
}

button{border:none; background:none}

button::before{
	vertical-align: middle;
	margin: 0 .25em;
	box-shadow:0 4px 4px rgba(0,0,0,.25);
	border:none;
	z-index: 1;
}

action{
	display: inline-block;
	font-size: .85em;
	margin: .5em;
	text-transform:uppercase;
}

button, [contenteditable]{
	/* outline:none; */
}

.attic,.vault{
	position:fixed;
	text-align:right;
}

.attic{
	top:0;
}

.vault{
	bottom:0;
}
