[data-dap=false]{display:none !important;}
[ui=click]{cursor:pointer;}

[FADE]{position:absolute;animation: 1s fadein;}
[FADE].STALE{opacity:0; transition:opacity 1s ease}
@keyframes fadein { from {opacity:0;} to {opacity:1} }
/*
#roof{position:fixed;z-index: 1;top: 0;max-width: 640px;background: black;width: 100%;color: wheat; border-radius: 0 0 .5em .5em;}
*/

