[data-dap=false]{display:none !important;}
[ui=click]{cursor:pointer;}

[FADE]{position:absolute; animation: 1s fadein; }
[FADE].STALE{opacity:0; transition:opacity 1s ease}
@keyframes fadein { from {opacity:0;} to {opacity:1} }


body,input,select{font: normal 1rem 'Montserrat',sans-serif;/* padding: 0; */margin: 0;}
body{padding: 0 1em;padding:0;max-width: 480px;overflow-y:scroll;position:relative;}

#roof{position:fixed;z-index: 1;top: 0;max-width: 640px;background: black;width: 100%;color: wheat; border-radius: 0 0 .5em .5em;}

h3 {
    /* font: normal 1.9em/1 'Pacifico',cursive; */
    color: darkslategray;
}

section{
	position: relative;
}

article{
	position: relative;
	padding: 2em .5em;
	border-bottom: 1px solid lightgray;
}


.tags {
    font-size: .8em;
    color: lightslategrey;
}.tag {
    display: inline-block;
    margin: 0 .4em;
}

.tag.unset{
	color:lightgray;
}

.tag:hover {
    text-decoration: underline;
}

.addtags{
	position:absolute;
	z-index:1;
	background:white;
	margin: 0 1em;
	left: 0;
	box-shadow: 0 .5em 1em rgb(0 0 0 / 40%);
	border-radius: .5em;
}

.tagset{
	margin:1em
}

.html{
	text-align: justify;
	min-height:4em;
	outline: none;
	hyphens: auto;
}

.price {
	font-size:inherit;
	/* position: absolute; */
	/* right: .5em; */
	/* border-radius: .2em; */
	background: gold;
	padding: .2em .5em;
}

.price::before{
	content:"₽ "
}

.price>input{
	width:4em;
	text-align:right;
	border:none;
}

h1 {
  margin: 0;
}


.pics>img,.pics>canvas {max-width: 100%;}

.pics {
  margin: 1rem -.5rem;
  padding: 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

input.img {
	position:absolute;
	margin-top:-4em;
	color:white;
}

.attic {
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    padding: .2em;
    text-align: right;
    background: white;
    box-shadow: 0 1em 1em rgba(0,0,0,.2);
}

.attic>.auth{
	display:inline-block;
}

article>.auth{
	position:absolute;
	right:0;
}




.filter>input{margin: 1rem;}
.filter>.search{display:block; border:none; font-size:1.4em}

.dates {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.dates>input {
  flex: 1;
  margin: 1rem;
  border: none;
  background: gold;
}

.confirm {
  border-radius: 1em;
  padding: 1em;
  box-shadow: 0 2px 4px rgb(0 0 0 / .25);
  overflow: hidden;
  background: aliceblue;
}

date {
  /* display: inline-block; */
  flex: 1;
  /* font: bold .7em sa; */
}

.content>.info {
  display: flex;
  /* width: 100%; */
  /* align-content: center; */
  /* align-items: center; */
  margin: 1em 0;
  font-weight: bold;
  /* font-size: .75em; */
}

.person>.name, .person>.skills {
  display: inline;
}

.person {
  display: inline-block;
  background: gray;
}

.crew {
  margin: 2em 0;
  font-size: .8em;
  color: darkblue;
}

.member {
  display: inline-block;
  margin: .2em;
  background: lavender;
  padding: .1em .3em;
  /* font: bold italic 1em sans-serif; */
}



[contenteditable].edit {
  margin: 1.8em 0;
  border-bottom: 1px dashed lightgray;
  font-family: sans-serif;
  white-space: pre-wrap;
}

[contenteditable]{
  background: floralwhite;
}

[contenteditable].edit::before {
  position: absolute;
  margin-top: -1.4em;
  font-size: .7em;
  color: gray;
}

.authorinfo {
  width: 12em;
  box-sizing: content-box;
  position: relative;
}

.member.me {
  background-color: orange;
}

.members {
  margin: .5em -.4em;
}